<button *ngIf="cartProducts.length >0" (click)="emptyCart()">Empty cart</button><br><br>

<div class="cart-item" *ngFor="let cartProduct of cartProducts">
 <img class="cart-item-pic" src="{{cartProduct.product.imgSrc}}" alt="">
 <div class="cart-item-name">{{ cartProduct.product.name }}</div>
 <div class="cart-item-price">{{ cartProduct.product.price.toLocaleString("fi", {minimumFractionDigits: 2, maximumFractionDigits: 2}).replace(",",".") }} €</div>
 <div>
     <img class="cart-button" (click)="decreaseQuantity(cartProduct)" src="assets/minus.png" />
     <span class="cart-item-quantity">{{ cartProduct.quantity }} tk</span>
     <img class="cart-button" (click)="increaseQuantity(cartProduct)" src="assets/add.png" />
 </div>
 <div class="cart-item-total">{{ (cartProduct.product.price * cartProduct.quantity).toLocaleString("fi", {minimumFractionDigits: 2, maximumFractionDigits: 2}).replace(",",".") }} €</div>
 <img class="cart-button" (click)="removeProduct(cartProduct)" src="assets/remove.png" />
</div>

<h3><div *ngIf="cartProducts.length >0"> Total to pay: {{totalSum}} €</div></h3> 

<button *ngIf="cartProducts.length >0" (click)="toPay()">Payment</button>




<!-- <div class="cart-item"  *ngFor="let cartProduct of cartProducts">
 <img class="cart-item-pic" src="{{cartProduct.product.imgSrc}} " alt="">
 <div class="cart-item-name" >Product: {{cartProduct.product.name}} </div>
 <div class="cart-item-name">Price: {{cartProduct.product.price.toLocaleString("uk", {minimumFractionDigits: 2, maximumFractionDigits: 2}).replace(",",".") }} € </div>
 <img class="button" (click)="decreaseQuantity(cartProduct)" src="assets/minus.png">
 <div class="cart-item-name">Quantity: {{cartProduct.quantity}} pc </div>
 <img class="button" (click)="increaseQuantity(cartProduct)" src="assets/add.png">
 <div>Total Price: <div class="total"> {{(cartProduct.product.price * cartProduct.quantity).toLocaleString("uk", {minimumFractionDigits: 2, maximumFractionDigits: 2}).replace(",",".")}} € </div> </div> <!-- pani vahe pärast tuhandet plus koma kohade ümmardus -->
 <!-- <img class="button"  (click)="removeProduct(cartProduct)" src="assets/remove.png">
</div> --> 