<button (click)="onZoomShop('all')">Kõik poed</button>
<!-- <button (click)="onZoomShop('kristiine')">Kristiine keskus</button>
<button (click)="onZoomShop('ahhaa')">Ahhaa keskus</button> -->

<button *ngFor="let shop of shops"
(click)="onZoomShop(shop.shopName)" >{{shop.shopName}} </button>

<form (ngSubmit)="onSendEmail(addEmailForm)" #addEmailForm ="ngForm">
  <fieldset>
    <legend>Võta meiega ühendust</legend>
    <label>Sinu nimi</label>  <br>
    <input [(ngModel)] = "name" name = "name" type="text" placeholder="Sisesta nimi" size="20" required ><br> 
    <label>E-mail aadress</label>  <br>
    <input [(ngModel)] = "email" name = "email" type="text" placeholder="Sisesta e-mail" size="20" required><br>
    <label>Pealkiri</label>  <br>
    <input [(ngModel)] = "subject" name = "subject" type="text" size="20"><br>
    <label>Sisu</label>  <br>
    <textarea [(ngModel)] = "body" name = "body" type="text" cols="40" rows="6" required></textarea><br>
    <button [disabled] = "addEmailForm.invalid" >Saada</button>
    </fieldset>
</form>

<!-- 
<button (click)="onSendEmail()">Saada meile email</button> -->


<div class="map-container">
 <div class="map-frame">
   <div id="map"></div>
 </div>
</div>
