<button (click)="onZoomShop('all')">Kõik poed</button>
<!-- <button (click)="onZoomShop('kristiine')">Kristiine keskus</button>
<button (click)="onZoomShop('ahhaa')">Ahhaa keskus</button> -->

<button *ngFor="let shop of shops"
(click)="onZoomShop(shop.shopName)" >{{shop.shopName}} </button>

<form (ngSubmit)="onSendEmail(addEmailForm)" #addEmailForm ="ngForm">
  <fieldset>
    <legend>Võta meiega ühendust</legend>
    
    <label>E-mail</label>  <br>
    <input [(ngModel)] = "email" name = "email" type="email" size="20" placeholder="example@example.com"
    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" > <br>
    <label>Sisu</label>  <br>
    <textarea [(ngModel)] = "body" name = "body" type="text" cols="40" rows="6" required></textarea><br>
    <button [disabled] = "addEmailForm.invalid" >Saada</button>
    </fieldset>
</form>

<!-- 
<button (click)="onSendEmail()">Saada meile email</button> -->


<div class="map-container">
 <div class="map-frame">
   <div id="map"></div>
 </div>
</div>
