<div> {{kuup2ev | date}} </div>

<ngb-carousel class="carousel-wrapper" *ngIf="images">
  <ng-template *ngFor="let image of images" ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="{{image.imgName}}" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>{{image.header}}</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
</ngb-carousel>

<!-- <div> {{protsent | percent}} </div>
<div> {{rahayhik | currency}} </div>
<div> {{lause | uppercase}} </div>
<div> {{lause | titlecase}} </div>
<div>{{ protsent * 100 + "%" }}</div>
<div>{{ kuup2ev | date:'shortTime' }}</div>
<div>{{ kuup2ev | date:'mediumTime' }}</div>
<div>{{ kuup2ev | date:'fullTime' }}</div>
<div>{{ kuup2ev | date:'fullDate' }}</div>
<div>{{ rahayhik | currency:"EUR" }}</div> -->

<div (click)="onFilterByCategory('')"  
[ngClass]="{'category-selected': '' === selectedCategory} " >Kõik kategooriad</div> <!-- tühjuse category '' -->

<div *ngFor="let category of categories"
 (click)="onFilterByCategory(category)"
 [ngClass]="{'category-selected': category === selectedCategory} "
>{{ category }}</div>

<button (click)="onSortAZ()">Sorteeri A-Z</button>
<button (click)="onSortZA()">Sorteeri Z-A</button>
<button (click)="onSortPriceAsc()">Sorteeri hind kasvavalt</button>
<button (click)="onSortPriceDesc()">Sorteeri hind kahanevalt</button>

<div *ngFor="let product of products">
 <div [ngClass]="{'active': product.isActive && loggedIn, 
 'inactive': !product.isActive && loggedIn}" *ngIf="product.isActive || loggedIn" >
  <img src="{{product.imgSrc}}" alt="">
  <div>{{product.name}}</div>
  <div>{{product.description}}</div>
  <div>{{product.price | thousandSeparator}}</div>
  <button (click)="addToCart(product)">Lisa {{product.name}} ostukorvi </button>
 </div>
</div>


<lib-toastify-toast-container
[autoClose]="2500"
[hideProgressBar]="true"
[position]="'top-left'"
></lib-toastify-toast-container>


 <!-- 1. *ngFor
 2. objektid {url: "https://", header: "", text: "", alt: ""}
 3. HTML-s src={{image.url}} -->

 